{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'css/first.css'%} ">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mask Detection Runtime</title>
    {% comment %} <body id="bg" style="background-image: url('{% static "bg_pic2.jpg"%}')";> {% endcomment %}
    
</head>
<body>
    <h1 class="heading"><center>MASK DETECTION </center></h1>

    <nav class="navbar navbar-dark bg-dark">
        <a class="active" href="/home">Home</a>
        <a href="/about">About Us</a>
    </nav>

    <a href="/model">
        <p><br><br></p>
       <center><img src= "\static\pic_01.jpg" alt="Masked Boy" style="width:250px;height:250px;" ></center> 
      </a>

      <br><br><br>


      <form action="" method="post">{% csrf_token %}
        <center>
            <input type="submit" name="Mask Detector" value="Mask Detector"/>
            <br><br>
            {% comment %} <button onclick="setLetter('x');">STOP</button> {% endcomment %}
        </center>
    </form>

    {% comment %} <center><input type="submit" class="btn btn-danger" name="Mask Detector" value="STOP" /></center> {% endcomment %}
    {% comment %} <button onclick="setLetter('x');">STOP</button> {% endcomment %}


      

      
</body>
</html>